/*태그명을 바로 사용하는 방법*/
 h1 {
    color: darkred; 
    text-align: center;
}

/*클래스로 묶어서 적용하는 방법*/
.login_inputs {
    font-size: 25px;
}

/*아이디로 적용하는 방법*/
#btn_login {
    font-size: 20px; 
    width: 100px; 
    height: 30px;
}